@import url('https://use.typekit.net/njq2ndz.css');
@import './variables-mixins.scss';

/*************** Global Styling ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  min-height: 100vh;
}

body {
  font-family: 'apertura', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  height: inherit;
}

a {
  color: $anchor-clr;
  @include transition(all 0.25s ease-in-out);
  &:hover {
    color: $anchor-hover;
    text-decoration: none;
  }
}
.textCenter {
  text-align: center;
}

ul,ol {
  list-style: none;
}
.custom-container,
.fixed-container {
  max-width: 1920px;
  width: 85%;
  margin: 0 auto;
}
.fixed-container {
  max-width: 1120px;
  width: 100%;
  padding: 0 20px;
}

#__next {
  @include flexbox;
  @include flex-direction(column);
  min-height: inherit;
  .content-area {
    flex: 1;
    padding: 55px 0 0;
  }
}
/************** Button ************/
.primary-btn {
  background: $clr-green-bright;
  border-color: $clr-green-bright;
  border-radius: 2.5rem;
  font-weight: 600;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: $hero-dark;
  text-transform: capitalize;
	&:hover, &:active {
		background-color: $clr-green-hover !important;
		color: $hero-dark !important;
		border-color: $clr-green-hover !important;
		box-shadow: none !important;
	}
  &:focus {
    color: $hero-dark !important;
    background-color: $clr-green-bright !important;
    box-shadow: none !important;
  }
}
/************** Form Component ************/
.as-form-control {
  .form-label {
    font-size: 14px;
    letter-spacing: 0.7px;
    font-weight: 100;
    color: $muted-text;
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    text-transform: capitalize;
    &.required {
      &:after {
        content: '*';
        color: $red;
        font-size: 20px;
        position: absolute;
        top: -5px;
        right: -10px;
      }
    }
  }
  select,
  input {
    &[type=text],
    &[type=email],
    &[type=password] {
      border-radius: 0;
      padding: 7px 0;
      height: 34px;
      border: 0;
      font-size: 18px;
      border-bottom: 1px solid #6f6f6f;
      color: #555555;
      &:focus,
      &:focus-visible {
        outline: 0;
        box-shadow: none;
        border-bottom: 1px solid $green-light;
      }
      &::-webkit-input-placeholder {
        color: #999999;
      } 
    }
  }
}
.was-validated {
  &:not(.security-form, .preference-form) {
    input {
      &:invalid {
        border-bottom: 1px solid $red !important;
      }
    }
  }
}

/**************** Radio button *****************/
.radio {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.2em;
  font-size: 19px;
  line-height: 19px;
  color: #C1D82F;
  margin: 3px 5px 3px 5px; 


  .radio__label {
    opacity: 0.8;
    color: black;
    font-size: 15px;
    line-height: 18px;
    font-weight: bold
  }

  .radio__input {
    display: flex;
    input {
      opacity: 0;
      width: 0;
      height: 0;
      &:focus {
        & + .radio__control {
          box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em #C1D82F
        }
      }
      &:checked {
        & + .radio__control {
          background: radial-gradient(#C1D82F 50%, rgba(255, 0, 0, 0) 51%);
        }
      }
    }
    .radio__control {
      display: block;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      border: 2px solid #C1D82F;
      transform: translateY(-0.05em);
    }
  }
}
.input-error {
  color: $red;
}

/************** Tooltip **************/
.tooltip {
  pointer-events: none;
  .arrow {
    display: none;
  }
  & > .tooltip-inner {
    border: 1px solid $green-light;
    background-color: $green-light;
    border-radius: 8px;
    text-transform: inherit;
    font-size: 12px;
    color: $clr-black;
    padding: 3px 10px;
  }
}
.tooltip-btn {
  padding: 0 10px;
  margin-left: .5rem;
  color: #fff;
  border-radius: 2.5rem;
  font-weight: 600;
}

/************** Header ***************/
header {
  background-color: $headerColor;
  .custom-nav {
    min-height: 55px;
    padding: 3px 0;
    .navbar-brand {
      display: flex;
      align-items: center;
      img {
        margin: 0 !important;
        &.logo-icon {
          min-width: 160px !important;
          max-width: 160px !important;
        }
      }
    }
    .navbar-nav {
      @include align-items(center);
      .nav-link {
        display: inherit;
        padding-inline: 15px;
        a {
          cursor: pointer;
          font-size: 16px;
          color: $nav-link;
          text-transform: initial;
          font-weight: 500;
          font-style: normal;
          letter-spacing: -0.32px;
          line-height: 19px;
          &:hover {
            color: $white;
          }
        }
        &.btn {
          a {
            padding: 7px 15px;
            border-radius: 2.5rem;
            font-size: 14px;
            line-height: 1.21;
            letter-spacing: 0.28px;
            color: $hero-dark;
            background-color: $green-light;
            &:hover {
              color: $hero-dark;
              background-color: $white;
            }
          }
        }
        &.btn-account {
          &::after {
            content: '';
            background: url(../images/caret-down.svg) no-repeat right 8px top 18px;
            background-size: 10px;
            width: 20px;
            display: inline-block;
            margin-left: .255em;
          }
          > a {
            color: #1A1A18;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            width: 40px;
            height: 40px;
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
            position: relative;
            flex-shrink: 0;
            border-radius: 100px;
            background-color: $clr-green-bright;
            overflow-x: hidden;
            overflow-y: hidden;
            &:hover {
              background-color: $green-light;
            }
          }
          .dropdown-toggle {
            &::after {
              display: none;
            }
          }
          .dropdown-menu {
            width: 15rem;
            top: 64px;
            right: 0;
            left: inherit;
            box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);

            &:before {
              position: absolute;
              top: -8px;
              left: inherit;
              right: 42px;
              display: inline-block;
              border-right: 8px solid transparent;
              border-bottom: 8px solid #fff;
              border-left: 8px solid transparent;
              content: "";
            }
            .info {
              width: 100%;
              height: 100%;
              cursor: default;
              text-align: center;
              padding: 20px 10px;
              display: flex;
              background-color: rgb(250, 251, 255);
              flex-direction: column;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              align-items: center;
              -webkit-box-align: center;
              .name-circle {
                color: $hero-dark;
                width: 48px;
                height: 48px;
                display: inline-flex;
                justify-content: center;
                -webkit-box-pack: center;
                position: relative;
                flex-shrink: 0;
                box-sizing: border-box;
                border-top-right-radius: 100%;
                border-top-left-radius: 100%;
                border-bottom-right-radius: 100%;
                border-bottom-left-radius: 100%;
                background-color: rgb(237, 239, 245);
                overflow-x: hidden;
                overflow-y: hidden;
                span {
                  display: flex;
                  position: absolute;
                  top: 0;
                  height: 48px;
                  font-weight: 500;
                  line-height: 1;
                  letter-spacing: -0.05px;
                  -webkit-box-align: center;
                  align-items: center;
                  -webkit-box-pack: center;
                  justify-content: center;
                }
              }
              .name {
                margin-top: 8px;
                line-height: 18px;
                font-size: 1rem;
                font-weight: 500;
                text-transform: capitalize;
                color: rgb(16, 24, 64);
              }
              .email {
                font-size: 0.8rem;
                word-break: break-word;
                color: rgb(105, 111, 140);
              }
            }
            a {
              display: block;
              width: 100%;
              clear: both;
              cursor: pointer;
              font-size: 15px;
              color: $nav-link;
              text-transform: capitalize;
              padding: 0.57rem 3.6rem;
              &.profile {
                background: url(../images/user_profile.svg) no-repeat left 15px top 5px;
                background-size: 30px;
                &.active:not(:hover) {
                  background: url(../images/user_profile_selected.svg) no-repeat left 15px top 5px;
                  background-size: 30px;
                }
              }
              &.licences {
                background: url(../images/licenses.svg) no-repeat left 15px top 5px;
                background-size: 30px;
                &.active:not(:hover) {
                  background: url(../images/licenses_selected.svg) no-repeat left 15px top 5px;
                  background-size: 30px;
                }
              }

              &.favorites {
                background: url(../images/favourites.svg) no-repeat left 15px top 5px;
                background-size: 30px;
                &.active:not(:hover) {
                  background: url(../images/favourites_selected.svg) no-repeat left 15px top 5px;
                  background-size: 30px;
                }
              }

              &.following {
                background: url(../images/following.svg) no-repeat left 15px top 5px;
                background-size: 30px;
                &.active:not(:hover) {
                  background: url(../images/following_selected.svg) no-repeat left 15px top 5px;
                  background-size: 30px;
                }
              }
              &.logout {
                background: url(../images/logout.png) no-repeat left 20px top 8px;
                background-size: 24px;
              }
              &.active {
                background-color: $green-light;
              }
              &:hover, &:focus {
                text-decoration: none;
                background-color: $green-light;
                color: $white;
                border-radius: 0;
              }
            }
          }
        }
        &.active:not(.btn) {
          a {
            color: $white;
          }
        }
      }
    }
  }
}

/************** Footer ***************/
footer {
  background-color: $footer-clr;
  color: $white;
  padding: 60px 0 30px;
  .footer-links {
    .footer-heading {
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1.6px;
      position: relative;
      color: $green-light;
      padding-bottom: 12px;
      margin-bottom: 15px;
      display: block;
      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 80%;
        height: 1px;
        background: $green-light;
        bottom: 0;
        left: 0;
      }
    }
    .footer-list {
      ul {
        list-style: none;
        li {
          padding: 3px 0;
          a {
            font-size: 14px;
            color: #e6e6e6;
            text-transform: capitalize;
            border-bottom: 1px solid transparent;
            &:hover {
              color: $white;
              border-bottom: 1px solid $white;
            }
          }
        }
      }
    }
  }
}
.login-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
  h2 {
    margin-top: 1.3rem;
    margin-bottom: 1.8rem;
    text-align: center;
  }
  .form {
    width: 100%;
  }
  .login-logo {
    text-align: center;
    &:hover {
      cursor: pointer;
    }
  }
  .block-inline {
    display: flex;
    justify-content: space-between;
  }
  .btn-full-width {
    width: 100%;
    padding: 0.5rem 1rem;
    background: $green-light;
  }
  .btn {
    line-height: 1.2;
    img {
      width: 1.25rem;
      float: left;
    }
  }
  a {
    color: hsl(0deg, 0%, 10%);
    font-weight: normal;
    &:hover {
      text-decoration: underline !important;
    }
  }
  .remember-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 0.8rem;
    .checkmark {
      &.checked {
        background: $green-light;
      }
    }
    .checkbox {
      &:hover {
        cursor: pointer;
      }
    }
    img {
      &.back {
        width: 12px;
        vertical-align: top;
        margin-top: 7px;
        margin-right: 5px;
      }
    }
  }
  .login-error {
    width: 100%;
    text-align: center;
    color: $red;
  }
  .success {
    color: $green;
  }
  .custom-control-label {
    cursor: pointer;
  }
  .custom-control-input:checked~.custom-control-label::before {
    border-color: $green-light;
    background-color: $green-light;
  }
  .custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: $green-light;
  }
  .custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem hsl(68deg, 80%, 75%);
  }
}

/****************** User Account ********************/
.userAccountWrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 70px;
  .userAcountHeading {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    margin-top: 25px;
    h1 {
      text-transform: capitalize;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 1.4px;
      color: $heading-clr;
      margin: 0;
    }
  }
  .userAccountInner {
    @include flexbox;
    @include justify-content(flex-start);
    @include align-items(flex-start);
    margin: 50px 0 100px;
    .userSidebar {
      @include flex(0 1 300px);
      border-right: 1px solid #e6e6e6;
      .userListing {
         & > li {
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 300;
          letter-spacing: 1.8px;
          line-height: normal;
          padding: 10px 0 10px 40px;
          a {
            display: inline-block;
          }
          .subMenu {
            margin: 20px 0 0;
            li {
              padding: 10px 0 10px 0;  
              &.selected {
                & > a {
                  color: $green-light;
                }
              }
            }
          }
          &.selected {
            & > a {
              color: $green-light;
            }
          }

          &.profile {
            background: url(../images/user_profile.svg) no-repeat left top 5px;
            background-size: 30px;
            &.selected {
              background: url(../images/user_profile_selected.svg) no-repeat left top 5px;
              background-size: 30px;
            }
          }

          &.licences {
            background: url(../images/licenses.svg) no-repeat left top 5px;
            background-size: 30px;
            &.selected {
              background: url(../images/licenses_selected.svg) no-repeat left top 5px;
              background-size: 30px;
            }
          }

          &.favorite{
            background: url(../images/favourites.svg) no-repeat left top 5px;
            background-size: 30px;
            &.selected {
              background: url(../images/favourites_selected.svg) no-repeat left top 5px;
              background-size: 30px;
            }
          }

          &.following {
            background: url(../images/following.svg) no-repeat left top 5px;
            background-size: 30px;
            &.selected {
              background: url(../images/following_selected.svg) no-repeat left top 5px;
              background-size: 30px;
            }
          }

        }
      }
    }
    .userContent {
      @include flex(1);
      padding: 0 60px;
      .profileEdit {
        .form-group {
          input {
            box-shadow: none;
          }
          margin-bottom: 30px;
          .country-select-header__control {
            height: 34px;
            min-height: 34px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: unset;
            border-color: #555555;
            &.country-select-header__control--is-focused {
              border-color: $green-light;
            }
            box-shadow: none;
            .country-select-header__value-container {
              height: 34px;
              padding-left: 0;
              .country-select-header__single-value {
                top: 65%;
              }
            }
          }
          .invalid {
            .country-select-header__control {
              border-color: $red;
            }
          }
        }
        [class*=col-] {
          padding-inline: 20px;
        }
      }
    }
  }
  .userAccountBtn {
    background-color: #2f70d8;
    color: white;
    border-radius: 0;
    text-transform: uppercase;
    padding: 8px 47px;
    line-height: normal;
    letter-spacing: 1px;
    @include transition(all 0.2s ease-in-out);
    &:hover {
      opacity: 0.8;
    }
    &:focus {
      box-shadow: none;
    }
  }
}

.elementInline {
  @include flexbox();
  @include justify-content(flex-start);
  @include align-items(center);
}

/***************** Signup Select style *********************/
.form-group {
  .content-type-select-header__control, .css-yk16xz-control {
    height: 40px;
    min-height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: unset;
    border-color: #555555;
    &.content-type-select-header__control--is-focused {
      border-color: $green-light;
    }
    box-shadow: none;
    .content-type-select-header__value-container {
      height: 34px;
      padding-left: 0;
      .content-type-select-header__single-value {
        top: 65%;
      }
    }
  }
  .form-control {
    &.confirm_password {
      &.is-valid, &:valid {
        background-image: none;
      }
      &.invalid {
        border-bottom: 1px solid #dc3545 !important;
      }
    }
  }
}

/***************** POPUP styling *********************/
.customArtistModal,
.customArtistModal-lg {
  z-index: 1041;
  .modal-dialog {
    &.modal-sm {
      max-width: 500px;
    }
    max-width: 700px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    .modal-content {
      border-radius: 15px;
      overflow: hidden;
    }
    .modal-header {
      padding: 1.5rem 1rem;
      .modal-title {
        margin: 0 auto;
        font-weight: 600;
        font-size: 28px;
        text-transform: capitalize;
      }
      .close {
        display: none;
      }
    }
    .modal-body {
      padding: 40px 15px 25px;
      border-bottom: 1px solid #dee2e6;
      .modal-container {
        max-width: 500px;
        width: 95%;
        margin: 0 auto;
        .form-control {
          &:not(textarea) {
            height: 48px;
          }
          border-radius: 8px;
          &:focus {
            transition: all 0.3s ease-in-out;
            box-shadow: 0 0 5px $green-light;
            border-color: $green-light;
          }
        }
      }
      .react-select-popup__control {
        height: 48px;
        border-radius: 8px;
      }
      .custom-control-input {
        z-index: 1;
        opacity: 1;
      }
      .custom-file {
        height: 48px;
        input[type="file"] {
          height: inherit;
        }
        .custom-file-label {
          height: inherit;
          line-height: normal;
          @include flexbox;
          @include justify-content(space-between);
          @include align-items(center);
          border-radius: 8px;
          &:after {
            content: attr(data-browse);
            height: inherit;
            line-height: calc(48px - 12px);
          }
        }
        .custom-file-input {
          &:focus {
            & ~ .custom-file-label {
              transition: all 0.3s ease-in-out;
              box-shadow: 0 0 5px $green-light;
              border: 1px solid $green-light;
            }
          }
        }
        &.invalid {
          .custom-file-label {
            border: 1px solid $red;
          }
        }
      }
    }
    .modal-footer {
      border: 0;
      padding: 0;
      height: 70px;
      button {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        @include flex(1);
        border-radius: 0;
        border: 0;
        height: inherit;
        margin: 0;
        transition: all 0.3s ease-in-out;
        &.btn-outline-light {
          &:hover {
            background-color: #F6F6F6;
          }
        }
        &.as-tertiary-modal-btn {
          background-color: $clr-blue-light;
          color: #fff;
          &:hover {
            opacity: 0.85;
          }
        }
      }
      .submit {
        img {
          width: 20px;
        }
      }
    }
  }
  &.closeOn {
    .modal-header {
      .modal-title {
        padding: 0px 40px;
      }
      .close {
        display: inline-block;
        background: url(/images/close-modal.svg) no-repeat;
        vertical-align: middle;
        background-size: 30px;
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
        top: 15px;
        right: 15px;
        opacity: 0.7;
          span[aria-hidden="true"] {
          display: none;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  &.customArtistModal-lg {
    .modal-dialog {
      max-width: 850px;
      width: 95%;
      .modalBodyInner {
        max-width: 600px;
      }
    }
  }
}
.forgot-password-modal {
  .modal-content {
    .modal-body {
      label {
        display: block;
        text-align: center;
        padding-bottom: 25px;
        font-weight: 600;
      }
    }
  }
}
/**************** Music Player ************************/
.musicplayerDemo {
.player {
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #252525;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}

.track-art {
  margin: 10px;
  height: 150px;
  width: 150px;
  background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  border-radius: 15%;
}

.now-playing {
  font-size: 1rem;
}

.track-name {
  font-size: 1rem;
}

.track-artist {
  font-size: 0.8rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.playpause-track, .prev-track, .next-track {
  padding: 25px;
  opacity: 0.7;

  /* Smoothly transition the opacity */
  transition: opacity .2s;
  img {
    width: 25px;
  }
}

.playpause-track:hover, .prev-track:hover, .next-track:hover {
  opacity: 1.0;
}

.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 25px;
    &.volume-up {
      padding-left: 4px !important;
    }
  }
}

/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.seek_slider:hover, .volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time, .total-duration {
  padding: 10px;
}

i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
  cursor: pointer;
}
}

/********************** Audio Socket Music Player **********************/
.auMusicPlayer {
  background-color: #f2f2f2;
  border-top: 1px solid #717171;
  height: 73px;
  position: sticky;
  bottom: 0;
  z-index: 99999;
  box-shadow: 0 -1px 9px -4px #eeeeee;
  .custom-container {
    height: inherit;
  }
  .musicPlayerInner {
    height: inherit;
    @include flexbox();
    @include justify-content(flex-start);
    @include align-items(center);
    padding: 0 1rem;
    .buttons {
      height: inherit;
      display: grid;
      grid-template-columns: 25px 25px 25px;
      @include align-items(center);
      gap: 35px;
      .prev-track, 
      .playpause-track, 
      .next-track {
        width: 21px;
        height: 21px;
        opacity: 0.7;
        filter: invert(1);
        transition: all 0.15s ease-in-out;
        &:hover {
          opacity: 1;
        }
      }
    }
    .playbackTimeline {
      @include flex(1);
      @include flexbox();
      @include align-items(center);
      margin-inline: 35px;
      input[type="range"] {
        width: 100%;
        margin-inline: 20px;
        accent-color: red;
      }
      .current-time,
      .total-duration {
        color: $clr-black;
      }
    }

    .volumeTimeline {
      @include flexbox();
      @include align-items(center);
      input[type="range"] {
        margin: 0 15px 0 10px;
        width: 120px;
      }
      img {
        width: 21px;
        opacity: 0.7;
        transition: all 0.2s ease-in-out;
        &:hover {
          opacity: 1;
        }
      }
    }

    /* Modify the appearance of the slider */
    .seek_slider, .volume_slider {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 1px;
      background: black;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }

    /* Modify the appearance of the slider thumb */
    .seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      background: black;
      cursor: pointer;
      border-radius: 50%;
    }

    .seek_slider:hover, .volume_slider:hover {
      opacity: 1.0;
    }

    .trackDetails {
      @include flexbox;
      @include justify-content(flex-start);
      @include align-items(center);
      @include flex-direction(row);
      margin-inline: 35px;

      .track-art {
        margin: 10px;
        height: 50px;
        width: 50px;
        background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
        background-size: cover;
        border-radius: 3px;
      }
      .trackstats {
        font-weight: 600;
        cursor: pointer;
        .track-name {
          color: #999999;
          @include transition(all 0.2s ease-in-out);
          &:hover {
            color: $clr-black;
          }
        }
        .track-artist {
          color: #666666;
          
          @include transition(all 0.2s ease-in-out);
          &:hover {
            color: $clr-black;
          }
        }
        .track-name,
        .track-artist {
          width: 120px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
    .playerActions {
      @include flexbox;
      @include justify-content(flex-start);
      @include align-items(center);
      margin-bottom: 0;
      gap: 30px;
      li {
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        @include flex-direction(column);
        cursor: pointer;
        white-space: nowrap;
        svg {
          margin-bottom: 5px;
          fill: $clr-black;
          color: $clr-black;
          opacity: 0.6;
          @include transition(all 0.2s ease-in-out);
        }
        span {
          font-size: 12px;
          text-transform: capitalize;
          font-weight: 500;
          color: $clr-black;
          opacity: 0.85;
          @include transition(all 0.2s ease-in-out);
        }
        &:hover {
          svg,
          span {
            opacity: 1;
          }
        }
      }
    }
  }
}
/******************** Home page styling *******************/
.heroSection {
  background: url('../images/homeBg2.png') no-repeat $hero-dark;
  background-size: cover;
  overflow: hidden;
  min-height: 700px;
  height: 45vw;
  max-height: 850px;
  background-position: center bottom;
  background-color: #1B1D1D;
  .heroContent {
    padding-block: 120px 80px;
    height: 100%;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    h1 {
      font-size: 64px;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: $white;
    }
    p {
      max-width: 585px;
      width: 100%;
      font-size: 22px;
      line-height: 1.18;
      letter-spacing: -0.55px;
      text-align: left;
      color: $textClr;
      margin-bottom: 65px;
    }
    .heroForm {
      position: relative;
      max-width: 580px;
      width: 100%;
      .form-control {
        background-color: $white;
        border-radius: 30px;
        height: 44px;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: -0.4px;
        color: $textClr;
        padding-inline: 20px 6.4vw;
      }
      .stickyBtn {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .brandsStrip {
      @include flexbox;
      @include justify-content(space-between);
      @include align-items(baseline);
      flex-wrap: wrap;
      gap: 25px;
      margin-top: 10em;
    }
  }
}

section {
  h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: -0.9px;
    text-align: center;
    color: $white;
  }
}

/***************** How to use ****************/
.howToUse {
  background-color: $headerColor;
  padding-block: 77px 89px;
  h2 {
    color: $white;
    margin-bottom: 60px;
  }
  .tabsContainer {
    position: relative;
    padding: 65px 0;
    .tabs {
      @include flexbox;
      @include justify-content(flex-start);
      .tab {
        @include flexbox;
        @include justify-content(flex-start);
        @include align-items(center);
        padding: 30px 15px;
        border-top: 1px solid rgba(255,255,255,0.1);
        border-inline: 0;
        max-width: 36%;
        width: 100%;
        will-change: background-color , color;
        @include transition(all 0.25s ease-in-out);
        .tabImg {
          margin-right: 15px;
          svg {
            width: 32px;
            height: auto;
            @include transition(all 0.25s ease-in-out);
            path, line {
              stroke: $green-light;
            }
          }
        }
        .tabHeading {
          color: $textClr;
          user-select: none;
          h3 {
            font-size: 22px;
            font-weight: 400;
            line-height: 1.18;
            letter-spacing: -0.55px;
            text-align: left;
            @include transition(all 0.25s ease-in-out);
          }
          p {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.21;
            letter-spacing: -0.35px;
            text-align: left;
            margin: 0;
          }
        }
        &:hover,
        &.tabSelected {
          background-color: $hoverBG;
          border-color: $hoverBG;
          .tabImg {
            svg {
              path, line {
                stroke: $white;
              }
            }
          }
          .tabHeading {
            h3 {
              color: $white;
            }
          }
        }
      }
      &:last-child {
        .tab {
          border-bottom: 1px solid rgba(255,255,255,0.1);
        }
      }
      .tabsContent {
        color: #fff;
        flex: 1;
        padding: 40px 88px 40px 88px;
        border-radius: 20px;
        background-image: linear-gradient(168deg, #3f4348 8%, #313438 66%);
        opacity: 0;
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: calc(100% - 36%);
        @include transition(all 0.3s ease-in-out);
      }
      .tab.tabSelected {
        & + .tabsContent {
          opacity: 1;
          z-index: 99;
        }
      }
    }
  }
}

/******************* Pricing ****************/
.pricing {
  background: url('../images/homeBg2.png') no-repeat $headerColor;
  background-size: cover;
  padding-block: 90px;
  position: relative;

  h2 {
    margin-bottom: 60px;
  }
}

/******************** Buttons ********************/
.btnMainLarge,
.btnMainSmall {
  height: 44px;
  padding: 12px 26px 13px;
  border-radius: 29px;
  background-color: $green-light;
  font-size: 16px;
  font-weight: 500;
  color: $headerColor;
  white-space: nowrap;
  line-height: 0.64;
  @include transition(all 0.3s ease-in-out);
  &:hover,
  &:focus {
    opacity: 0.85;
  }
}

.btnMainSmall {
  height: 34px;
  padding: 10px 20px 8px 18px;
  font-size: 14px;
}
/******************** Responsive Behaviour *****************/
@media #{$mid-point-tablet} {
  .heroSection {
    min-height: 600px;
    .heroContent {
      padding-block: 50px 30px;
      h1 {
        font-size: 48px;
      }
      p {
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 45px;
      }
      .brandsStrip {
        margin-top: 7em;
        gap: 20px;
        @include justify-content(center);

      }
    }
  }
}
@media #{$phone-landscape} {
  header {
    .custom-nav {
      min-height: 58px;
      padding: 7px 0 7px;
      .navbar-brand {
        width: 160px;
        img {
          margin: 0 !important;
          &.logo-icon {
            min-width: 160px !important;
            max-width: 160px !important;
          }
        }
      }
      .navbar-collapse {
        .navbar-nav {
          position: fixed;
          inset: 0;
          width: 100%;
          height: 100%;
          background-color: $hero-dark;
          @include flexbox;
          @include justify-content(center);
          @include align-items(center);
          opacity: 0;
          z-index: -1;
          will-change: z-index, opacity;
          transition: all 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530);
          .closeConditional {
            position: absolute;
            top: 20px;
            right: 24px;
            .navbar-toggler-icon {
              background: url('../images/closeConditional.svg') no-repeat center transparent;
            }
          }
        }
        &.show {
          .navbar-nav {
            opacity: 1;
            z-index: 1100;
          }
        }
      }
      .navbar-toggler {
        border: none;
        padding: 0;
        .navbar-toggler-icon {
          background: url('../images/burgerIcon.svg') no-repeat center;
        }
      }
    }
  }
}

@media #{$phone-portrait} {
  header {
    .custom-nav {
      min-height: 58px;
      padding: 12px 0 12px;
      .navbar-brand {
        width: 115px;
        img {
          margin: 0 !important;
          &.logo-icon {
            min-width: 115px !important;
            max-width: 115px !important;
          }
        }
      }
      .navbar-toggler {
        .navbar-toggler-icon {
          background-size: 26px;
          width: 26px;
        }
      }
    }
  }

  .heroSection {
    min-height: 527px;
    .heroContent {
      padding-block: 50px 30px;
      h1 {
        font-size: 32px;
        width: 80%;
        margin-bottom: 15px;
      }
      p {
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 33px;
      }
      .heroForm {
        .form-control {
          height: 32px;
          font-size: 13px;
          padding-inline: 10px; 
        }
        .stickyBtn {
          position: absolute;
          top: 42px;
          height: 30px;
          font-size: 14px;
          padding: 8px 16px;
        }
      }
      .brandsStrip {
        margin-top: 7em;
        gap: 10px;
        @include justify-content(center);
        & > div {
          width: 20vw;
          height: 35px;
          margin-bottom: 15px !important;
          .heroBrand {
            object-fit: scale-down;
          }
          &:nth-child(2) {
            width: 30vw;
          }
        }
      }
    }
  }
}

.carousel-wrapper {
  width: 100%;
}

.slick-slide.slick-center img {
  transform: scale(1.1);
  height: 250px;
  padding: 20px !important;
}

.slick-cloned {
  margin-top: 20px;
}

:not(.slick-center).slick-slide {
  margin-top: 30px;
  padding: 15px !important;
}

.carousel-container { 
  width: 90%;
 }