@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
@import './variables-mixins.scss';

/*************** Global Styling ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  min-height: 100vh;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  height: inherit;
}

a {
  color: $anchor-clr;
  @include transition(all 0.25s ease-in-out);
  &:hover {
    color: $anchor-hover;
    text-decoration: none;
  }
}

ul,ol {
  list-style: none;
}

.custom-container {
  max-width: 1920px;
  width: 85%;
  margin: 0 auto;
}

#__next {
  @include flexbox;
  @include flex-direction(column);
  min-height: inherit;
  .content-area {
    flex: 1;
    padding: 70px 15px 0;
  }
}
/************** Form Component ************/
.as-form-control {
  .form-label {
    font-size: 14px;
    letter-spacing: 0.7px;
    font-weight: 100;
    color: $muted-text;
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    text-transform: capitalize;
    &.required {
      &:after {
        content: '*';
        color: #a94442;
        font-size: 20px;
        position: absolute;
        top: -5px;
        right: -10px;
      }
    }
  }
  select,
  input {
    &[type=text],
    &[type=email],
    &[type=password] {
      border-radius: 0;
      padding: 7px 0;
      height: 34px;
      border: 0;
      font-size: 18px;
      border-bottom: 1px solid #6f6f6f;
      color: #555555;
      &:focus,
      &:focus-visible {
        outline: 0;
        box-shadow: none;
        border-bottom: 1px solid $green-light;
      }
      &::-webkit-input-placeholder {
        color: #999999;
      } 
    }
  }
}
.was-validated {
  input {
    &:invalid {
      border-bottom: 1px solid red !important;
    }
  }
}
/************** Header ***************/
header {
  background-color: $hero-dark;
  .custom-nav {
    min-height: 70px;
    .navbar-brand {
      display: flex;
      align-items: center;
      img {
        margin: 0 !important;
        &.logo-icon {
          min-width: 160px !important;
          max-width: 160px !important;
        }
      }
    }
    .navbar-nav {
      .nav-link {
        display: inherit;
        a {
          cursor: pointer;
          font-size: 15px;
          color: $nav-link;
          text-transform: capitalize;
          padding: .5rem 1rem;
          &:hover {
            color: $white;
          }
        }
        &.btn {
          a {
            padding: 7px 20px;
            border-radius: 10px;
            font-weight: 600;
            color: $hero-dark;
            background-color: $green-light;
            &:hover {
              color: $hero-dark;
              background-color: $white;
            }
          }
        }
        &.active {
          a {
            color: $white;
          }
        }
      }
    }
  }
}

/************** Footer ***************/
footer {
  background-color: $footer-clr;
  color: $white;
  padding: 60px 0 30px;
  .footer-links {
    .footer-heading {
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1.6px;
      position: relative;
      color: $green-light;
      padding-bottom: 12px;
      margin-bottom: 15px;
      display: block;
      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 80%;
        height: 1px;
        background: $green-light;
        bottom: 0;
        left: 0;
      }
    }
    .footer-list {
      ul {
        list-style: none;
        li {
          padding: 3px 0;
          a {
            font-size: 14px;
            color: #e6e6e6;
            text-transform: capitalize;
            border-bottom: 1px solid transparent;
            &:hover {
              color: $white;
              border-bottom: 1px solid $white;
            }
          }
        }
      }
    }
  }
}
.login-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
  h2 {
    margin-top: 1.3rem;
    margin-bottom: 1.8rem;
    text-align: center;
  }
  .form {
    width: 100%;
  }
  .login-logo {
    text-align: center;
    &:hover {
      cursor: pointer;
    }
  }
  .block-inline {
    display: flex;
    justify-content: space-between;
  }
  .btn-full-width {
    width: 100%;
    padding: 0.5rem 1rem;
    background: $green-light;
  }
  .btn {
    line-height: 1.2;
    img {
      width: 1.25rem;
      float: left;
    }
  }
  a {
    color: hsl(0deg, 0%, 10%);
    font-weight: normal;
    &:hover {
      text-decoration: underline !important;
    }
  }
  .remember-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 0.8rem;
    .checkmark {
      &.checked {
        background: $green-light;
      }
    }
    .checkbox {
      &:hover {
        cursor: pointer;
      }
    }
    img {
      &.back {
        width: 12px;
        vertical-align: top;
        margin-top: 7px;
        margin-right: 5px;
      }
    }
  }
  .login-error {
    width: 100%;
    text-align: center;
    color: #dc3545;
  }
  .success {
    color: #28a745;
  }
  .custom-control-label {
    cursor: pointer;
  }
  .custom-control-input:checked~.custom-control-label::before {
    border-color: $green-light;
    background-color: $green-light;
  }
  .custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: $green-light;
  }
  .custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem hsl(68deg, 80%, 75%);
  }
}

/****************** User Account ********************/
.userAccountWrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 70px;
  .userAcountHeading {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    margin-top: 25px;
    h1 {
      text-transform: capitalize;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 1.4px;
      color: $heading-clr;
      margin: 0;
    }
  }
  .userAccountInner {
    @include flexbox;
    @include justify-content(flex-start);
    @include align-items(flex-start);
    margin: 50px 0 100px;
    .userSidebar {
      @include flex(0 1 300px);
      border-right: 1px solid #e6e6e6;
      .userListing {
         & > li {
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 300;
          letter-spacing: 1.8px;
          line-height: normal;
          padding: 10px 0 10px 40px;
          a {
            display: inline-block;
          }
          .subMenu {
            margin: 20px 0 0;
            li {
              padding: 10px 0 10px 0;  
              &.selected {
                & > a {
                  color: $green-light;
                }
              }
            }
          }
          &.selected {
            & > a {
              color: $green-light;
            }
          }

          &.profile {
            background: url(../images/user_profile.svg) no-repeat left top 5px;
            background-size: 30px;
            &.selected {
              background: url(../images/user_profile_selected.svg) no-repeat left top 5px;
              background-size: 30px;
            }
          }

          &.licences {
            background: url(../images/licenses.svg) no-repeat left top 5px;
            background-size: 30px;
            &.selected {
              background: url(../images/licenses_selected.svg) no-repeat left top 5px;
              background-size: 30px;
            }
          }

          &.favorite{
            background: url(../images/favourites.svg) no-repeat left top 5px;
            background-size: 30px;
            &.selected {
              background: url(../images/favourites_selected.svg) no-repeat left top 5px;
              background-size: 30px;
            }
          }

          &.following {
            background: url(../images/following.svg) no-repeat left top 5px;
            background-size: 30px;
            &.selected {
              background: url(../images/following_selected.svg) no-repeat left top 5px;
              background-size: 30px;
            }
          }

        }
      }
    }
    .userContent {
      @include flex(1);
      padding: 0 60px;
      .profileEdit {
        .form-group {
          margin-bottom: 30px;
        }
        [class*=col-] {
          padding-inline: 20px;
        }
      }
    }
  }
  .userAccountBtn {
    background-color: #2f70d8;
    color: white;
    border-radius: 0;
    text-transform: uppercase;
    padding: 8px 47px;
    line-height: normal;
    letter-spacing: 1px;
    @include transition(all 0.2s ease-in-out);
    &:hover {
      opacity: 0.8;
    }
  }
}
