@import './variables-mixins.scss';

.playlistWrapper {
  background-color: $headerColor;
  padding-block: 50px;
  h1 {
    color: $white;
    font-weight: 400;
    max-width: 1120px;
    width: 100%;
    padding-inline: 15px;
    margin-inline: auto;
    margin-bottom: 20px;
  }
  .sectionHeading {
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: -0.55px;
    color: $white;
    text-align: left;
    margin-bottom: 30px;
  }
  :global(.testimonialContainer) {
    h2 {
      padding-left: 80px;
    }
  }
  
  .filterSearch {
    max-width: 1120px;
    width: 100%;
    padding-inline: 15px;
    margin-inline: auto;
    h1 {
      font-size: 36px;
      font-weight: 400;
      line-height: 1.19;
      letter-spacing: -0.9px;
      margin-bottom: 20px;
    }
    @include flexbox;
    @include align-items(center);
    gap: 30px;
    :global(.filterBar) {
      background-color: $darkGrey;
      max-width: 576px;
      width: 100%;
      border-radius: 29px;
      padding-inline: 11px;
      height: 45px;
      @include flexbox;
      @include align-items(center);
      .linkFilter {
        color: $white;
        padding: 13px 24px 11px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.19;
        letter-spacing: -0.4px;
        text-transform: capitalize;
        &:hover,
        &:global(.active) {
          color: $green-light;
        }
      }
      :global(.dropdown) {
        :global(.dropdown-toggle) {
          color: $white;
          background-color: transparent;
          text-transform: capitalize;
          font-weight: 400;
          border: 0;
          padding-inline: 17px;
          &[aria-expanded="true"] {
            color: $green-light;
          }
          &:after {
            filter: invert(1);
            opacity: 1;
          }
        }
        :global(.dropdown-menu) {
          border-radius: 0 0 29px 29px;
          top: -1px !important;
          :global(.filterSelf) {
            text-transform: capitalize;
            :global(.dropdown-item) {
              font-weight: 400;
            }
          }
        }
      }
    }
    :global(.stickySearch) {
      flex: 1;
      :global(.form-control) {
        background-color: $darkGrey;
        border: 1px solid $middleGrey;
        color: $white;
        ::placeholder {
          color: $white;
        }
        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .creatorFilterSesrch {
    margin-inline: none !important;
    max-width: none !important;
    padding: 0 !important;
  }
  
  :global(.moodSlider) {
    background-color: $headerColor;
    padding-block: 50px 20px;
    :global(.rec-carousel-wrapper) {
      margin-block: 30px;
    }
  }
}

.playlistTiles {
    max-width: 1120px;
    width: 100%;
    padding-inline: 15px;
    margin-inline: auto;
  }

.btnWrapper {
  margin-top: 30px;
  text-align: center;
}

/****************** Playlist Banner ********************/
.playlistBanner {
  background: $headerColor url(../images/background.png) no-repeat;
  background-size: cover;
  min-height: 383px;
  // height: 28.03vw;
  max-height: 538px;
  @include flexbox;
  @include flex-direction(column);
  .playlistInfo {
    @include flexbox;
    @include align-items(center);
    @include flex(1);
    max-width: 1280px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    .playlistCard {
      display: inline-flex;
      gap: 30px;
      height: 260px;
      padding: 30px;
      border-radius: 20px;
      background-color: rgba(26, 28, 29, 0.85);
      .imgSec {
        min-width: 200px;
        width: 200px;
        height: 200px;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        & > div {
          max-height: 200px;
          height: 200px;
          .tilesImg {
            -webkit-object-fit: cover;
            object-fit: cover;
            height: 200px;
          }
        }
        &::after {
          content: '';
          background-color: rgba(110, 115, 119, 0.2);
          position: absolute;
          inset: 0;
        }
      }
      .contentSec {
        @include flexbox;
        @include flex-direction(column);
        .aboutPlaylist {
          flex: 1;
          color: $white;
          .playlistOwner {
            .PlaylistName {
              font-size: 26px;
              line-height: 1.23;
              letter-spacing: -0.65px;
              margin-bottom: 7px;
            }
            .createdBy {
              font-size: 13px;
              line-height: 1.23;
              letter-spacing: -0.33px;
            }
          }
          .playlistStats {
            margin-top: 20px;
            font-size: 13px;
            line-height: 1.23;
            letter-spacing: -0.33px;
            &:nth-child(2) div {
              margin-block: 5px 5px;
            }
          }
        }
        .cardBtnWrapper {
          @include flexbox;
          @include justify-content(center);
          @include align-items(center);
          gap: 20px;
          button {
            @include flexbox;
            @include align-items(center);
            svg {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

.myPlaylistShow {
  .playlistBanner {
    background-image: none;
  }
}

.creatorKits {
  .playlistBanner {
    background-image: none;
    background-color: #3d3d3d;
    padding-bottom: 100px;
    :global(.themeBreadcrumb) {
      background-color: transparent;
    }
    .playlistInfo {
      .playlistCard {
        background-color: transparent;
        padding-left: 0;
      }
    }
  }
  .creatorKitsContent {
    :global(.nav-tabs) {
      gap: 2px;
      border: 0;
      margin-top: -65px;
      :global(.nav-item) {
        padding: 15px 19px;
        color: $green-light;
        background-color: $headerColor;
        font-size: 22px;
        line-height: 1.23;
        letter-spacing: -0.55px;
        border: 0;
        border-radius: 0;
        position: relative;
        @include transition(all 0.2s ease-in-out);
        &:before {
          content: '';
          background: url(../images/searchTrack.svg) no-repeat;
          width: 35px;
          height: 35px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 15px;
          opacity: 0.7;
          @include transition(all 0.2s ease-in-out);
        }
        &:after {
          content: '';
          background: url(../images/selectedArrow.svg) no-repeat;
          width: 22px;
          height: 35px;
          background-size: 22px;
          display: inline-block;
          position: absolute;
          bottom: 0;
          z-index: -9;
          left: 50%;
          opacity: 0;
          transform: translate(-50%, 21px) rotate(90deg);
        }
        &:hover,
        &:global(.active),
        &:global(.active):hover {
          background-color: $hoverBG;
          color: $white;
          &:before {
            opacity: 1;
          }
          &:after {
            opacity: 1;
          }
        }
        &:hover {
          &:after {
            opacity: 0;
          }
        }
      }
    }
    :global(.tab-content) {
      padding-block: 20px;
    }
  }
}

.curatedPlaylist {
  :global(.moodSlider) {
    padding-bottom: 0;
    :global(.rec-carousel-wrapper) {
      margin-bottom: 0;
    }
  }

  .playlistTiles {
    padding-top: 50px;
  }
}

/*********************** Following Listing *******************/
.followingPlaylist,
.myPlaylists {
  :global(.tilesWrapper) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: clamp(15px, 2vw, 30px);
    margin-top: 33px;
    :global(.tileOverlay) {
      border-radius: 18px;
      & > div {
        height: inherit;
        :global(.tilesImg) {
          -webkit-object-fit: cover;
          object-fit: cover;
          z-index: -2;
        }
      }
    }
  }
}

/***************** My Playlists ***************/

.myPlaylistWrapper {
  background-color: $headerColor;
  padding-block: 50px;
  min-height: calc(100vh - ($headerHeightDesktop + $footerHeightDesktop));
  h1 {
    color: $white;
    font-weight: 400;
    margin-bottom: 20px;
  }
  :global(.tilesWrapper) {
    :global(.tileOverlay) {
      :global(.tileOverlayText) {
        :global(.playlistTracksCount) {
          font-size: 16px;
          font-weight: 400;
          display: block;
        }
      }
    }
  }
  :global(.parallelHead){
    margin-bottom: 20px;
    h1 {
      margin: 0;
    }
  }
}

.songTitle {
  margin-left: 10px;
  font-weight: 500;

}

/**************** Artist tiles section ************/
.artistTiles {
  margin-block: 35px 63px;
  h3 {
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: -0.55px;
    font-weight: 400;
  }
  :global(.tilesWrapper) {
    margin-top: 20px;
  }
}


/********************** Similar Track Detail **********************/
.similarTrackDetail.myPlaylistShow {
  .playlistBanner {
    background-color: Transparent;
    min-height: auto;
    .playlistInfo {
      .playlistCard {
        padding-block: 47px;
        padding-inline: 0;
        border-radius: 0;
        background-color: transparent;
        width: 100%;
        height: auto;
        overflow: hidden;
        .imgSec {
          :global(.tileOverlay) {
            width: 100%;
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
            cursor: default;
            :global(.playPauseBtn) {
              width: 30px !important;
              margin: 0;
              cursor: pointer;
            }
            &:after {
              opacity: 0.2;
            }
          }
           &:after {
            content: none;
           }
        }
        .contentSec {
          @include flex(1);
          .aboutPlaylist {
            color: $headerColor;
            .playlistOwner {
              @include flexbox;
              @include justify-content(space-between);
              @include align-items(center);
              .PlaylistName {
                font-size: 0;
                h3 {
                  font-size: 26px;
                  font-weight: 400;
                  line-height: normal;
                  letter-spacing: -0.65px;
                  color: $headerColor;
                  margin-bottom: 5px;
                }
                .artistName {
                  font-size: 13px;
                  line-height: normal;
                  letter-spacing: -0.33px;
                }
              }
              :global(.singleTrackDetail) {
                max-width: 150px;
                min-width: 150px;
              }
            }
            .waveformBlock {
              width: clamp(320px, 35vw, 519px);
            }
          }
          .cardBtnWrapper {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}

/****************** Creator Kits Listing *****************/
.creatorKitsListing {
  :global(.parallelHead) {
    padding-bottom: 50px;
    :global(.stickySearch) {
      flex-basis: clamp(400px, 50%, 550px);
      :global(.form-control) {
        background-color: #313438;
        border: 1px solid #6e7377;
        color: #ffffff;
      }
     }
  }
  .creatorKitsItem {
    :global(.tileOverlay) {
      @include flexbox;
    }
    :global(.tileOverlayText) {
      font-size: 18px;
      font-weight: 500;
      width: 100%;
      line-height: 1.28;
      letter-spacing: -0.45px;
      text-align: center;
      text-transform: capitalize;
      color: #ffffff;
      display: inline-block;
      padding-inline: 10px;
      margin-block: 12px;
    }
  }
}


/********************** Responsive Behaviour *****************/
@media #{$desktop-start} {
  .playlistWrapper {
    .filterSearch {
      :global(.filterBar) {
        max-width: 500px;
      }
    }
  }
  .curatedPlaylist {
    :global(.moodSlider) {
      :global(.testimonialContainer) {
        .sectionHeading {
          padding-left: 0;
        }
      }
    }
  }
}

@media #{$tab-landscape} {
  .followingPlaylist,
  .myPlaylists {
    :global(.tilesWrapper) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .curatedPlaylist {
    :global(.moodSlider) {
      :global(.rec-carousel-wrapper) {
        :global(.rec-arrow) {
          display: block;
        }
      }
    }
  }
}

@media #{$mid-point-tablet} {
  .playlistWrapper {
    .filterSearch {
      @include flex-direction(column-reverse);
      :global(.filterBar),
      :global(.stickySearch) {
        max-width: initial;
        width: 100%;
      }
    }
  }
  .myPlaylistShow,
  .creatorKits {
    .playlistBanner {
      .playlistInfo {
        .playlistCard {
          padding: 20px;
          height: 240px;
          gap: 15px;
          .contentSec {
            .cardBtnWrapper {
              gap: 10px;
            }
          }
        }
      }
    }
  }
}

@media #{$tab-portrait} {
  .curatedPlaylist .playlistTiles,
  .followingPlaylist,
  .myPlaylists {
    :global(.tilesWrapper) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media #{$phone-landscape} {
  .curatedPlaylist .playlistTiles,
  .followingPlaylist,
  .myPlaylists {
    :global(.tilesWrapper) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .myPlaylistShow,
  .creatorKits {
    .playlistBanner {
      .playlistInfo {
        .playlistCard {
          @include flex-direction(column);
          width: 100%;
          height: auto;
          margin: 0;
          text-align: center;
          padding-block: 30px;
          gap: 25px;
          .imgSec {
            margin-inline: auto;
          }
          .cardBtnWrapper {
            margin-top: 25px;
          }
        }
      }
    }
  }

  .myPlaylistShow {
    .playlistBanner {
      margin-bottom: 30px;
    }
  }

  .creatorKits {
    .playlistBanner {
      padding-bottom: 0;
      .playlistInfo {
        .playlistCard {
          padding-bottom: 30px;
        }
      }
    }
    .creatorKitsContent {
      :global(.nav-tabs) {
        margin-inline: -20px;
        gap: 0;
        margin-top: 0;
        border-top: 1px solid $border-clr;
        & > :global(.nav-item) {
          @include flex(1);
          text-align: center;
          font-size: 18px;
          border-right: 1px solid $border-clr;
          padding: 20px 10px;
          &:last-child {
            border: 0;
          }
          &::before {
            content: '';
            width: 27px;
            height: 27px;
            background-size: 27px;
            margin-right: 7px;
          }
          &::after {
            content: '';
            background-size: 17px;
          }
        }
      }
    }
  }

  .similarTrackDetail.myPlaylistShow {
    .playlistBanner {
      .playlistInfo {
        .playlistCard {
          .contentSec {
            .aboutPlaylist {
              .playlistOwner {
                @include flex-direction(column);
                :global(.singleTrackDetail) {
                  margin-block: 25px 10px;
                  max-width: 180px;
                  min-width: 180px;
                }
              }
            }
            .cardBtnWrapper {
              @include justify-content(center);
            }
          }
        }
      }
    }
  }

  .waveformBlock {
    display: none;
  }

  .creatorKitsListing {
    :global(.parallelHead) {
      @include flex-direction(column);
      @include align-items(flex-start);
      gap: 30px;

      :global(.stickySearch) {
        width: 100%;
      }
    }
  }
}

@media #{$phone-portrait} {
  .curatedPlaylist .playlistTiles,
  .followingPlaylist,
  .myPlaylists {
    :global(.tilesWrapper) {
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
      :global(.tileOverlay) {
        max-width: 250px;
        width: 100%;
      }
    }
  }
  .myPlaylistWrapper {
    :global(.parallelHead) {
      @include flex-direction(column);
      button {
        margin-block: 30px 0;
      }
    }
  }

  .myPlaylistShow,
  .creatorKits {
    .playlistBanner {
      max-height: initial;
      .playlistInfo {
        .playlistCard {
          .cardBtnWrapper {
            button {
              @include flexbox;
              @include justify-content(center);
              @include align-items(center);
              font-size: 0;
              min-width: initial;
              width: 50px;
              height: 50px;
              border-radius: 100px;
              padding: 0;
              svg {
                width: 22px;
                height: 22px;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  .creatorKits {
    .creatorKitsContent {
      :global(.nav-tabs) {
        & > :global(.nav-item) {
          font-size: 4.2vw;
          letter-spacing: normal;
          &::before {
            content: none;
          }
        }
      }
    }
  }

  .creatorKitsListing {
    :global(.parallelHead) {
      @include align-items(flex-start);
      gap: 30px;

      :global(.stickySearch) {
        width: 100%;
        :global(.stickyBtn) {
          top: 15px;
        }
      }
    }
    .creatorKitsItem {
      max-width: 250px;
      width: 100%;
    }
  }
}
