@import './variables-mixins.scss';

.searchWrapper {
  padding-bottom: 40px;
  overflow-x: hidden;
  overflow-y: auto;
  .pageHeading {
    margin-block: 36px 18px;
  }
  .searchUploadStuff {
    @include flexbox;
    @include justify-content(space-between);
    gap: 30px;
    margin-bottom: 15px;
    :global(.stickySearch){
      flex: 1 !important;
      .form-control {
        background-color: #fafafa;
        border-color: $nav-link;
      }
    }
    :global(.btnMainXlarge) {
      padding-inline: 18px;
      font-size: 16px;
      svg {
        width: 17px;
        margin-left: 12px;
      }
    }
  }
  :global(.filterBar) {
    margin-bottom:15px;
    z-index: 999;
  }
  :global(.selectedFilter) {
    margin-bottom: 15px;
    display: none;
  }
  &.externalSimilarity {
    :global(.stickySearch),
    :global(.filterBar),
    :global(.selectedFilter),
    .tracksSorting {
      display: none !important;
    }
  }
}

.tracksWrapper {
  margin: 27px 0 35px;
  overflow-x: hidden;
  overflow-y: auto;
  .tracksHeading {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    h2 {
      font-size: 26px;
      font-weight: 400;
      line-height: 1.23;
      letter-spacing: -0.65px;
      color: $headerColor;
      margin-bottom: 0;
    }
    .tracksSorting {
      form {
        @include flexbox;
        @include align-items(center);
        label {
          font-size: 16px;
          line-height: 1.19;
          letter-spacing: -0.4px;
          margin: 0 10px 0 0;
        }
        :global(.react-select-container) {
          width: 250px;
        }
      }
    }
  }
}

.pageHeading{
  font-size: 36px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: $heading-clr;
}

@media #{$mid-point-tablet} {
  .searchWrapper {
    .searchUploadStuff {
      gap: 15px;
      :global(.stickySearch.haveIcon) {
        svg {
          left: 15px;
        }
        :global(.form-control) {
          padding-left: 47px;
          padding-right: 105px;
        }
        :global(.stickyBtn) {
          min-width: 80px;
          padding-inline: 25px;
        }
      }
    }
  }
}

@media #{$phone-landscape} {
  .searchWrapper {
    .searchUploadStuff {
      margin-bottom: 18px;
      :global(.stickySearch.haveIcon) {
        text-align: right;
        :global(.form-control) {
          height: 57px;
          padding-inline: 15px;
          background-color: #fafafa;
          border-color: $nav-link;
          &:focus {
            box-shadow: none;
          }
        }
        :global(.stickyBtn) {
          position: relative;
          top: initial;
          height: 34px;
          margin-top: 15px;
          line-height: 10px;
        }
        svg {
          display: none;
        }
      }
      a {
        display: none;
      }
    }
  }

  .tracksWrapper {
    margin-top: 0;
    .tracksHeading {
      @include flex-direction(column-reverse);
      @include align-items(flex-start);
      gap: 30px;
      h2 {
        font-size: 22px;
      }
      .tracksSorting {
        :global(.react-select-container) {
          width: 218px;
          :global(.react-select__control) {
            min-height: 38px;
            padding-inline: 18px;
            font-size: 13px;
          }
        }
      }
    }
  }
}