@import './variables-mixins.scss';

.accountWrapper {
  padding-block: 50px;
  .accountHeader {
    @include flexbox;
    @include justify-content(flex-start);
    @include align-items(center);
    margin-bottom: 25px;
    h1 {
      font-size: 36px;
      font-weight: 400;
      line-height: 1.19;
      letter-spacing: normal;
      margin-block-end: 0;
    }
    .userNav {
      @include flexbox;
      @include justify-content(flex-start);
      @include align-items(baseline);
      margin-block: 0;
      margin-inline-start: 70px;
      gap: 30px;
      li {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.19;
        letter-spacing: -0.4px;
        a {
          position: relative;
          text-transform: capitalize;
          display: block;
          padding-block: 7px;
          text-decoration: none;
          @include transition(all 0.35s);
          &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: '.';
            color: transparent;
            background: $green-light;
            height: 4px;
            @include transition(all 0.35s);
          }
        }
        &:global(.selected),
        &:hover {
          a {
            color: $headerColor;
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
  :global(.userAccountInner) {
    :global(.boxDivision) {
      gap: clamp(30px, 3.392vw, 60px);
      :global(.boxColumn) {
        :global(.boxWithShadow) {
          margin-top: 30px;
          :global(form) {
            &:global(.profileEdit),
            &:global(.security-form) {
              :global(.form-group) {
                margin-bottom: 20px;
                :global(label) {
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 1.19;
                  letter-spacing: -0.4px;
                  color: $middleGrey;
                  margin-bottom: 6px;
                }
              }
            }
          }
          &:first-child {
            margin-top: 0;
          }
          .boxSetting {
            :global(.toogleSwitch) {
              @include flexbox;
              @include align-items (center);
              :global(label) {
                margin: 0 10px 0 0;
              }
              :global(.switchText) {
                font-size: 14px;
                font-weight: 400;
                line-height: 1.29;
                letter-spacing: -0.35px;
              }
            }
          }
          .info {
            background: url(../images/tooltip.svg) no-repeat center;
            background-size: 16px;
            width: 16px;
            height: 16px;
            display: inline-block;
            margin-left: 15px;
          }
          .paymentHistory {
            margin-top: -20px;
            ul {
              margin-bottom: 0;
              li {
                @include flexbox;
                @include justify-content(space-between);
                @include align-items(center);
                padding: 6px 0;
                border-bottom: 1px solid $nav-link;
                & > * {
                  font-size: 13px;
                  font-weight: 400;
                  line-height: 1.23;
                  letter-spacing: -0.33px;
                }
                .paymentReciept {
                  text-decoration: underline;
                  color: $headerColor;
                  &:hover {
                    opacity: 0.8;
                  }
                }
              }
            }
          }
          .billingInfo {
            .cardInfoWrapper {
              border: 1px solid $headerColor;
              border-radius: 100px;
              padding: 19px 30px 19px 20px;
              @include flexbox;
              @include justify-content(space-between);
              @include align-items(center);
              max-height: 64px;
              .cardInfo {
                @include flexbox;
                @include justify-content(space-between);
                @include align-items(center);
                .cardPlate {
                  display: inline-flex;
                }
                .cardText {
                  margin-left: 5px;
                  .cardNumber {
                    display: block;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1;
                    letter-spacing: -0.4px;
                    margin-bottom: 5px;
                  }
                  .cardRank {
                    display: block;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 1;
                    letter-spacing: -0.33px;
                  }
                }
              }
              .editpaymentMode {
                background: url(../images/editInCircle.svg) no-repeat center;
                background-size: 23px;
                width: 23px;
                height: 23px;
                display: inline-block;
                vertical-align: middle;
              }
            }
            .anotherWay {
              margin-top: 19px;
              text-align: right;
              a {
                font-size: 13px;
                font-weight: 500;
                line-height: 1.62;
                letter-spacing: -0.33px;
                text-decoration: underline;
                color: $headerColor;
                &:hover {
                  opacity: 0.8;
                }
              }
            }
          }

          .subscription {
            .subscriptionPeriod {
              @include flexbox;
              @include justify-content(space-between);
              @include align-items(center);
              max-width: 450px;
              width: 100%;
              margin: 15px auto 20px;
              .subscriptionLabel {
                font-size: 13px;
                font-weight: 500;
                line-height: 1.23;
                letter-spacing: -0.33px;
              }
              .subscriptionFromTo {
                font-size: 13px;
                font-weight: 400;
                line-height: 1.23;
                letter-spacing: -0.33px;
              }
            }
          }
        }
      }
    }
  }
}

/******************* Edit Subscription ******************/
.editSubscription {
  padding-block: 0 10px;
  .planStatus {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: -0.55px;
    margin-block: 45px 30px;
    text-align: center;
  }
  :global(.billingFrequency) {
    text-align: center;
    margin-bottom: 23px;
    span {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.19;
      letter-spacing: -0.4px;
      display: block;
      text-align: center;
      margin-bottom: 12px;
    }
  }
  .plansShelf {
    @include flexbox;
    @include justify-content(center);
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: clamp(30px, 5vw, 60px);
    :global(.boxWithOutShadow) {
      flex: 0 1 47%;
      padding: 0;
      .plansHeading {
        @include flexbox;
        @include justify-content(space-between);
        @include align-items(flex-start);
        padding-left: 36px;
        h2 {
          font-size: 22px;
          font-weight: 400;
          line-height: 1.23;
          margin-bottom: 0;
          text-transform: capitalize;
          padding: 10px 10px 7px 0;
        }
        .withRate {
          max-width: 193px;
          width: 100%;
          padding-block: 11px;
          background-color: $headerColor;
          color: $white;
          text-align: center;
          font-size: 18px;
          line-height: normal;
          letter-spacing: -0.45px;
          .rate {
            font-size: 36px;
            line-height: 1.19;
            letter-spacing: -0.72px;
          }
          .durationConvertion {
            display: block;
          }
        }
      }
      .planBody {
        padding-block: 20px 27px;
        padding-inline: 36px;
        height: calc(100% - 85px);
        @include flexbox;
        @include flex-direction(column);
        .planFeatures {
          width: 100%;
          flex: 1;
          li {
            @include flexbox;
            @include justify-content(flex-start);
            @include align-items(baseline);
            padding-block: 4px 3px;

            span {
              font-size: 14px;
              line-height: normal;
              letter-spacing: -0.35px;
              text-align: left;
              @include flex(1);
            }

            &:before {
              content: '';
              background: url(../images/pricingTick.svg) no-repeat center;
              display: inline-block;
              background-size: 13px;
              width: 15px;
              height: 15px;
              margin-right: 8px;
              transform: translateY(2px);
            }

            &.notAvailable {
              &:before {
                content: '';
                background: url(../images/pricingCross.svg) no-repeat center;
                display: inline-block;
                background-size: 13px;
              }
            }
          }
        }
        .plansBtnWrapper {
          text-align: center;
        }
      }
      &.enterprises {
        text-align: center;
        .plansHeading {
          @include justify-content(center);
          @include align-items(center);
          height: 65px;
        }
        .planBody {
          .planFeatures {
            max-width: 466px;
            width: 100%;
            margin: 0 auto;
            p {
              font-size: 16px;
              line-height: 1.25;
              letter-spacing: -0.4px;
            }
          }
        }
      }
      &.currentPlan {
        border-color: $green-light;
        .plansHeading {
          @include align-items(flex-start);
          h2 {
            small {
              font-size: 13px;
              font-weight: normal;
              letter-spacing: -0.33px;
              display: block;
            }
          }
          .withRate {
            background-color: $green-light;
            color: $headerColor;
          }
        }
        .planBody {
          @include flex-direction(row);
          @include justify-content(space-between);
          padding-inline: 36px 20px;
          .sideContent {
            max-width: 173px;
            width: 100%;
            :global(.toogleSwitch) {
              @include flexbox;
              @include align-items(center);
              label {
                margin: 0 10px 0 0;
              }
              span {
                font-size: 14px;
                line-height: normal;
                letter-spacing: -0.35px;
              }
            }
            p {
              font-size: 13px;
              line-height: 1.23;
              letter-spacing: -0.33px;
              color: $middleGrey;
              margin-block: 15px;
            }
            :global(.btnMainSmall) {
              padding-inline: 13px;
            }
          }
        }
      }
    }
  }
}

.listingWrapper {
  .listingHeading {
    h2 {
      font-size: 26px;
      font-weight: 400;
      color: $headerColor;
      line-height: 1.19;
      letter-spacing: -0.65px;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: -0.4px;
    }
  }
  :global(.trackRowWrapper) {
    margin-top: 33px;
  }
}

/*********************** Licenses Listing *******************/
.licenses {
  :global(.trackRowWrapper) {
    :global(.trackRow) {
      &:global(.headingRow) {
        :global(.rowParticipant) {
          &:global(.artistName) {
            padding-left: 0;
          }
        }
      }
      :global(.rowParticipant){
        padding-right: 10px;
        &:global(.artistName) {
          min-width: 22%;
        }
        &.workTitle {
          min-width: 20%;
          @include lineClamp(2);
        }
        &.licenseAgreement {
          min-width: 17%;
          @include lineClamp(2);
        }
        &.purchaseReceipt {
          min-width: 15%;
        }
        &.purchaseDate {
          min-width: 15%;
        }
        &:global(.controls) {
          min-width: 11%;
          padding-right: 0;
        }
      }
    }
  }
}

/*********************** Download Listing *******************/
.downloadListing {
  :global(.trackRowWrapper) {
    :global(.trackRow) {
      &:global(.headingRow) {
        :global(.rowParticipant) {
          &:global(.artistName) {
            padding-left: 0;
          }
        }
      }
      :global(.rowParticipant){
        padding-right: 10px;
        &:global(.artistName) {
          min-width: 33%;
          :global(.songArtist) {
            a {
              max-width: 17vw !important;
            }
          }
        }
        &.workTitle {
          min-width: 30%;
          @include lineClamp(1);
          :global(.form-control) {
            max-width: 300px;
            height: 36px;
          }
        }
        &.licenseBtn {
          min-width: 16%;
          @include lineClamp(1);
        }
        &.downloadDate {
          min-width: 16%;
        }
        &:global(.controls) {
          min-width: 5%;
          padding-right: 0;
          justify-content: flex-end;
        }
      }
    }
  }
}
/*********************** Checkout Listing *******************/
.downloadListing {
  :global(.trackRowWrapper) {
    :global(.trackRow) {
      &:global(.headingRow) {
        :global(.rowParticipant) {
          &:global(.artistName) {
            padding-left: 0;
          }
        }
      }
      :global(.rowParticipant){
        padding-right: 10px;
        &:global(.artistName) {
          min-width: 33%;
          :global(.songArtist) {
            a {
              max-width: 17vw !important;
            }
          }
        }
        &.workTitle {
          min-width: 30%;
          @include lineClamp(1);
          :global(.form-control) {
            max-width: 300px;
            height: 36px;
          }
        }
        &.licenseBtn {
          min-width: 16%;
          @include lineClamp(1);
        }
        &.downloadDate {
          min-width: 16%;
        }
        &:global(.controls) {
          min-width: 5%;
          padding-right: 0;
          justify-content: flex-end;
        }
      }
    }
  }
}
/*********************** Favorites Listing *******************/
.favoritesListing {
  :global(.trackRowWrapper) {
    :global(.trackRow) {
      &:global(.headingRow) {
        :global(.rowParticipant) {
          &:global(.artistName) {
            padding-left: 0;
          }
        }
      }
      :global(.rowParticipant){
        padding-right: 10px;
        &:global(.artistName) {
          min-width: 22%;
          :global(.songArtist) {
            a {
              max-width: 165px !important;
            }
          }
        }
        &:global(.audioWave) {
          min-width: 33%;
        }
        &:global(.duration) {
          min-width: 12%;
        }
        &:global(.genres) {
          min-width: 13%;
        }
        &:global(.controls) {
          padding-right: 0;
          a {
            &.favoriteSong {
              svg {
                :global(#icon-add-to-favorites) {
                  path {
                    stroke: #D84F2F;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  :global(.toggleButton) {
    input[type=radio] {
      &:global(.toggle) {
        & + label {
          min-width: 80px;
        }
      }
    }
  }
}

/******************* license Checkout Modal ********************/
.licenseCheckout {
  .viewLicense {
    text-decoration: underline;
    color: $headerColor;
    &:hover {
      opacity: 0.85;
    }
  }
  :global(.modalBtnWrapper) {
    button {
      padding-inline: 25px;
      svg {
        vertical-align: middle;
        margin-left: 7px;
      }
    }
  }
}

/***************** Responsive Behaviour *******************/

@media #{$tab-landscape} {
  .accountWrapper {
    :global(.userAccountInner) {
      :global(.boxDivision) {
        :global(.boxColumn) {
          :global(.boxWithShadow) {
            padding-inline: 15px;
            :global(.form-control) {
              padding-inline: 15px;
            }
          }
        }
      }
    }
  }

  .editSubscription {
    .plansShelf {
      :global(.boxWithOutShadow) {
        @include flexbox;
        @include flex-direction(column);
        .plansHeading {
          @include flex-direction(column);
          padding-left: 0;
          h2 {
            padding: 25px 15px 20px;
            min-height: 100px;
            font-size: 23px;
            font-weight: 500;
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
            text-align: center;
          }
          .withRate {
            max-width: 100%;
          }
        }
        .planBody {
          height: 100%;
          .planFeatures {
            margin-bottom: 32px;
          }
        }
        &.enterprises {
          .plansHeading {
            min-height: 100px;
          }
        }
        &.currentPlan {
          .plansHeading {
            h2 {
              @include flex-direction(column);
            }
          }
        }
      } 
    }
  }
}

@media #{$tablet-between} {
  .editSubscription {
    .plansShelf {
      :global(.boxWithOutShadow) {
        &.currentPlan {
          .planBody {
            @include flex-direction(column);
            .sideContent {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

@media #{$mid-point-tablet} {
  .accountWrapper {
    :global(.userAccountInner) {
      :global(.boxDivision) {
        :global(.boxColumn) {
          :global(.boxWithShadow) {
            :global(.subscriptionPlan) {
              :global(.aboutPlan) {
                padding-left: 15px;
              }
              :global(.planPrice) {
                padding-inline: 15px;
              }
            }
          }
        }
      }

      .listingWrapper {
        :global(.trackRowWrapper) {
          overflow-x: auto;
          overflow-y: hidden;
          -webkit-overflow-scrolling: touch;
          -ms-overflow-style: -ms-autohiding-scrollbar;
          :global(.trackRow) {
            width: intrinsic;           /* Safari/WebKit uses a non-standard name */
            width: -moz-max-content;    /* Firefox/Gecko */
            width: -webkit-max-content;
            flex-wrap: nowrap;
            padding-block: 10px;
            :global(.rowParticipant) {
              min-width: 220px;
              &:global(.controls) {
                min-width: 150px;
              }
              &.purchaseDate {
                min-width: 150px;
              }
              &.purchaseReceipt {
                min-width: 150px;
              }
            }
          }
        }
      }
    }
  }
}

@media #{$phone-landscape} {
  .accountWrapper {
    padding-block: 3px 50px;
    .accountHeader {
      h1 {
        display: none;
      }
      .userNav {
        margin-left: 0;
        @include flex(1);
        gap: 0;
        margin-inline: -20px;
        margin-block-end: 20px;
        li {
          @include flex(1);
          border: 1px solid $border-clr;
          border-left: 0;
          background-color: $headerColor;
          height: 60px;
          a {
            padding: 0;
            height: inherit;
            svg {
              margin-inline: auto;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              @include transition(all 0.3s ease-in-out);
              path,line, circle, .rectLicense {
                stroke: $white;
                fill: transparent;
              }
            }
          }
          &:global(.licences) {
            a {
              svg {
                width: 28px;
                height: 28px;
              }
            }
          }
          &:global(.favorites) {
            a {
              svg {
                width: 28px;
                height: 28px;
              }
            }
          }
          &:global(.following) {
            a {
              svg {
                width: 28px;
                height: 28px;
              }
            }
          }
          &:global(.billing) {
            a {
              svg {
                width: 28px;
                height: 28px;
              }
            }
          }
          
          
          &:global(.selected),
          &:hover {
            a {
              &:after {
                bottom: 1px;
              }
              svg {
                path,line, circle, .rectLicense, .reactBilling {
                  stroke: $green-light;
                  background-color: aqua;
                }
              }
            }
          }

          &:last-child {
            border-right: 0;
          }
        }
      }
    }
    :global(.userAccountInner) {
      :global(.boxDivision) {
        @include flex-direction(column);
        :global(.boxColumn) {
          :global(.boxWithShadow) {
            padding-inline: 15px;
            :global(.form-control) {
              padding-inline: 15px;
            }
          }
        }
      }
    }
  }
  .editSubscription {
    .plansShelf {
      :global(.boxWithOutShadow) {
        flex: 0 1 100%;
        .plansHeading {
          h2 {
            min-height: 70px;
            width: 100%;
          }
        }
      }
    }
    .enterprises {
      width: 100% !important;
    }
  }
}

@media #{$phone-portrait} {
  .editSubscription {
     .plansShelf {
      :global(.boxWithOutShadow) {
        &.currentPlan {
          .planBody {
            @include flex-direction(column);
            .sideContent {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
