@import './variables-mixins.scss';

.userAccount, 
.following {
  color: $muted-text;
  .headingDefault {
    font-family: Raleway;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 30px;
    @extend .headingDefault;
  }
  h2 {
    font-size: 21px;
    @extend .headingDefault;
  }
  p {
    margin-bottom: 10px;
  }
}




.subscription {
  position: relative;
  .subscriptionWrapper {
    @include flexbox;
    flex-wrap: wrap;
    gap: 40px;
    .licenceSubscription {
      @include flexbox;
      @include justify-content(flex-start);
      max-width: 330px;
      min-width: 330px;
      width: 100%;
      height: 101px;
      border-radius: 2px;
      padding: 0px;
      background-color: #F4F4F4;
      border: 2px solid $border-clr;
      .title {
        @include flex(1);
        align-self: center;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.42;
        padding: 7px;
      }
      .priceLabel {
        background-color: $border-clr;
        flex: 0 1 96px;
        max-width: 96px;
        color: $white;
        line-height: 1.42;
        padding: 7px;
        text-align: center;
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);

        .price {
          margin: 0;
          @include flexbox;
          @include justify-content(flex-start);
          @include align-items(flex-end);
          margin-top: -10px;
          small {
            font-size: 12px;
            text-transform: lowercase;
          }
          span {
            font-size: 36px;
            font-weight: bold;
            line-height: normal;
          }
        }
        .period {
          font-size: 12px;
          display: block;
          text-transform: lowercase;
          line-height: normal;
          margin: 5px 0 0;
        }
      }
    }
  }
}

.security {
  .securityRow {
    @include flexbox();
    @include justify-content(flex-start);
    @include align-items(center);
    font-size: 16px;
    color: $muted-text;
    margin-bottom: 12px;
    label {
      min-width: 120px;
      max-width: 150px;
      width: 100%;
      margin: 0 10px 0 0;
      text-transform: capitalize;
    }
    .middleContent {
      margin-bottom: 0;
      @include flex(0 1 45%);
      padding-right: 20px;
    }
  }
}

.preferences {
  position: relative;
  .preferenceInner {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    p {
      margin: 0;
    }
  }
}

.following,
.favouritePlaylists {
  .favouriteTabs {
    margin: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .tabs {
      font-size: 24px;
      line-height: 1.6;
      .tab {
        color: $anchor-clr;
        float: left;
        margin: 0 12px -1px;
        border-bottom: 2px solid transparent;
        &.active {
          border-color: $green-light;
          color: $green-light;
          cursor: default;
          font-weight: 500;
        }
        &:hover:not(.active) {
          cursor: pointer;
          color: $anchor-hover;
          border-color: $anchor-hover;
        }
      }
    }
  }
  .followingWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-top: 20px;
    .followingColumn {
      .imgOverlayText {
        aspect-ratio: 1;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 3px 6px rgba(33,33,33,0.3);
        img {
          width: 100%;
          height: auto;
          transition: all 0.3s ease-in-out;
        }
        .overlayText {
          @include flexbox;
          @include justify-content(center);
          @include align-items(center);
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          background-image: linear-gradient(0deg, rgba(33,33,33,0.3), transparent);
          transition: background-image .5s ease-in-out;
          .playlistName {
            font-size: 24px;
            font-weight: 800;
            line-height: normal;
            color: $white;
            opacity: 1;
          }
        }
      }
      .cardTitle {
        margin: 12px 0 0;
        line-height: normal;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
        overflow: hidden;
      }
      .followedCardTitle {
        @extend .cardTitle;
        color: $muted-text;
        &:hover {
          color: $green-light;
        }
      }
      .favouritesCardTitle {
        @extend .cardTitle;
        color: $heading-clr;
        cursor: default;
        user-select: none;
        &:hover {
          color: $heading-clr;
        }
      }
    }
  }
}

.favouritePlaylists {
  .songsWrapper {
    .songsRow {
      @include flexbox();
      @include justify-content(flex-start);
      @include align-items(center);
      white-space: nowrap;
      .playSection{
        flex: 0 1 60px;
        
        .playbtn {
          background-color: $green-light;
          display: inline-block;
          width: 41px;
          height: 41px;
          border-radius: 41px;
          cursor: pointer;
          @include flexbox;
          @include justify-content(center);
          @include align-items(center);
          @include transition(all 0.2s ease-in-out);
          .imgwrapper {
            width: 22px;
            height: 24px;
            .playIcon {
              padding-left: 2px !important;
            }
            .pauseIcon {
              padding-right: 2px !important;
            }
            img {
              width: 22px !important;
            }
          }
          
          &:hover {
            background-color: #636363;
          }
        }
      }
      .songsTitle {
        flex: 0 1 16.5%;
        max-width: 16.5%;
      }
      .songsArtist {
        flex: 0 1 16.5%;
        max-width: 16.5%;
      }
      .songsWaveform {
        flex: 0 1 16.5%;
      }
      .songsGenres {
        flex: 0 1 13.5%;
      }
      .songsAction {
        flex: 0 1 30.5%;
      }
      &.rowHead {
        .songsData {
          font-size: 12px;
          font-weight: bold;
          color: $muted-text;
          text-transform: capitalize;
          padding: 5px 12px 10px;
        }
        .playSection {
          padding-inline: 7px;
        }
      }
      &.rowBody {
        border: solid #e4e3e1;
        border-width: 1px 0;
        padding-block: 5px 7px;
        .songsData {
          @include flexbox();
          @include justify-content(flex-start);
          @include align-items(center);
          height: 60px;
          font-size: 13px;
          padding-inline: 12px;
        }
        .playSection {
          padding-inline: 7px;
        }
        .songsTitle {
          position: relative;
          span {
            font-weight: 600;
            font-size: 14px;
            color: #212121;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: capitalize;
            display: inline-block;
            width: calc(100% - 25px);
          }
          &.featuredItem {
            &:after {
              content: '';
              background: url(../images/featured.svg) no-repeat;
              background-size: 14px;
              width: 14px;
              height: 14px;
              display: inline-block;
              position: absolute;
              right: 10px;
            }
          }
        }
        .songsArtist {
          color: $muted-text;
          font-size: 13px;
          text-transform: capitalize;
          white-space: normal;
        }
        .songsGenres {
          color: $muted-text;
          text-transform: capitalize;
        }
      }
    }
  }
}
