/**************** Variables ***************/
$hero-dark: #1A1A18;
$nav-link: #888888;
$white: #ffffff;
$clr-black: #000000;
$heading-clr: #212121;
$footer-clr: #252525;
$green-light: #C1D72E;
$border-clr: #bbbbbb;
$anchor-clr: #b7b7b7;
$anchor-hover: #636363;
$muted-text: #6f6f6f;
$red: #dc3545;
$green: #28a745;
$clr-green-bright: hsl(68deg, 80%, 55%);
$clr-green-hover: hsl(68deg, 68%, 51%);
$clr-blue-light: #007bff;

/**************** Mixins & Functions ***************/

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}


@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
       -ms-flex-align: $align;
          align-items: $align;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
          -ms-flex: $values;
              flex: $values;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

$phone-potrait-old: "only screen and (max-width : 360px)";
$phone-portrait: "only screen and (max-width : 576px)";
$phone-landscape: "only screen and (max-width : 767px)";
$iphonex-portrait: "only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait)";
$iphonex-landscape: "only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape)";
$iphonexMax-portrait: "only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait)";
$iphonexMax-landscape: "only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape)";
$tab-portrait: "only screen and (max-width : 768px)";
$mid-point-tablet: "only screen and (max-width : 992px)";
$tab-landscape: "only screen and (max-width : 1024px)";
$desktop-start: "only screen and (max-width : 1200px)";
